body{
	font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
}
#container{
	width: 940px;
	margin: 0 auto;
}
#header{
	text-align: center;
}
#content .content-page-title{
	display: block;
	font-weight: normal;
	font-size: 120%;
	margin: 10px 0;
}
/*.navbar-inner {
	background-color: #39599C;
	background-image: none;
	color: #ffffff;
}
*/
.navbar .brand, .navbar .nav > li > a {
	color: #ffffff;
}
.hero-unit{
	background-color: #ffffff;
	padding: 0 60px;
}

.main-content {
	padding: 0 60px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
