body{
	font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
}
#container{
	width: 940px;
	margin: 0 auto;
}
#header{
	text-align: center;
}
#content .content-page-title{
	display: block;
	font-weight: normal;
	font-size: 120%;
	margin: 10px 0;
}
/*.navbar-inner {
	background-color: #39599C;
	background-image: none;
	color: #ffffff;
}
*/

.hero-unit{
	background-color: #ffffff;
	padding: 0 60px;
}

.main-content {
	padding: 0 60px;
}

#chart div > svg {
}
#content-title {
	position: relative;
	background: white;
	margin-bottom: 30px;
	padding: 30px;
	border: 1px solid #CCC;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 3px -3px #CCC;
	
	-moz-border-radius: 10px;
	-moz-box-shadow: 3px -3px #CCC;
	
	-o-border-radius: 10px;
	-o-box-shadow: 3px -3px #CCC;
	
	-ms-border-radius: 10px;
	-ms-box-shadow: 3px -3px #CCC;
}
#content-title h2{
	text-transform: capitalize;
}
.visualize-item-container{
	/*width: 9999px;
		height: 120px;*/
}
.visualize-item-container #mask{
	/*width: 400px;
		height: 120px;
		overflow: hidden;*/
}
.visualize-layout-item{
	margin: 10px 0px;
	display: inline-block;
	clear: none;
	width: 400px;
}
.visualize-layout-item span, .document-item span{
	text-transform: capitalize;
}
.visualize-layout-item ul{
/*	margin: 10px 0px;*/
	padding-top: 10px;
}

