body{
	font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
}
#container{
	width: 940px;
	margin: 0 auto;
}
#header{
	text-align: center;
}
#content .content-page-title{
	display: block;
	font-weight: normal;
	font-size: 120%;
	margin: 10px 0;
}
/*.navbar-inner {
	background-color: #39599C;
	background-image: none;
	color: #ffffff;
}
*/
#chart {
	position: relative;
}
.navbar .brand, .navbar .nav > li > a {
	color: #ffffff;
}
.hero-unit{
	background-color: #ffffff;
	padding: 0 60px;
}

.main-content {
	padding: 0 60px;
}

#chart .invert {
  background: #1f1f1f;
  color: #dcdccc;
}

#chart .invert h2, #chart .invert h3 {
  color: #7f9f7f;
}

#chart .string, #chart .regexp {
  color: #f39;
}

#chart .keyword {
  color: #00c;
}

#chart .comment {
  color: #777;
  font-style: oblique;
}

#chart .number {
  color: #369;
}

#chart .class, #chart .special {
  color: #1181B8;
}

/*body {
  font: 300 36px "Helvetica Neue";
  height: 640px;
  margin: 80px 160px 80px 160px;
  overflow: hidden;
  position: relative;
  width: 960px;
}*/

#chart a:link, a:visited {
  color: #777;
  text-decoration: none;
}

#chart a:hover {
  color: #666;
}

#chart blockquote {
  margin: 0;
}

#chart blockquote:before {
  content: "“";
  position: absolute;
  left: -.4em;
}

#chart blockquote:after {
  content: "”";
  position: absolute;
}

body > ul {
  margin: 0;
  padding: 0;
}

#chart h1 {
  font-size: 64px;
}

#chart h1, h2, h3 {
  font-weight: inherit;
  margin: 0;
}

#chart h2, h3 {
  text-align: right;
  font-size: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
}

#chart h2 {
  font-size: 24px;
  position: absolute;
}

#chart h3 {
  bottom: -20px;
  font-size: 18px;
}

#chart .invert {
  background: #1f1f1f;
  color: #dcdccc;
}

#chart .invert h2, #chart .invert h3 {
  color: #7f9f7f;
}

#chart .string, #chart .regexp {
  color: #f39;
}

#chart .keyword {
  color: #00c;
}

#chart .comment {
  color: #777;
  font-style: oblique;
}

#chart .number {
  color: #369;
}

#chart .class, #chart .special {
  color: #1181B8;
}

#chart div > svg {
}
#content-title {
	position: relative;
	background: white;
	margin-bottom: 30px;
	padding: 30px;
	border: 1px solid #CCC;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 3px -3px #CCC;
	
	-moz-border-radius: 10px;
	-moz-box-shadow: 3px -3px #CCC;
	
	-o-border-radius: 10px;
	-o-box-shadow: 3px -3px #CCC;
	
	-ms-border-radius: 10px;
	-ms-box-shadow: 3px -3px #CCC;
}
.visualize-document-item{
	margin: 10px 0px;
}
.visualize-document-item ul{
/*	margin: 10px 0px;*/
	padding-top: 10px;
}

